<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154119650435-tptia717f1b5sd6gc4lupe9d43uvdvrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154119650435-tptia717f1b5sd6gc4lupe9d43uvdvrk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8PpVz7X7w-tqNqMmk3nitWB_W7TAD3go</string>
	<key>GCM_SENDER_ID</key>
	<string>154119650435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myGym</string>
	<key>PROJECT_ID</key>
	<string>gymapp-735c9</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-735c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154119650435:ios:c4a8c439e4bd9b7adc2fb6</string>
	<key>DATABASE_URL</key>
	<string>https://gymapp-735c9-default-rtdb.firebaseio.com</string>
</dict>
</plist>